@model PlayerValidaton.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.player_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.player_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contract_expiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contract_expiry)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.player_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
