@model IEnumerable<PlayerValidaton.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.player_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contract_expiry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.player_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contract_expiry)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.player_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.player_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.player_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
